body {
	background-color: #f0f8ff;
	font-family: Meiryo;
}


.main-contents{
	background-color: #ffffff;

	width: 800px;
	font-family: Meiryo;
	padding: 30px;
	margin: 30px auto;
	word-break: break-all;
}

a{/*リンクされた文字*/
    color:#223a70;
    text-decoration:underline;
}
a:link {/*未訪問のリンク*/
    color:#223a70;
    text-decoration:underline;
}
a:visited {/*訪問後のリンク*/
    color:#934C7B;
    text-decoration:underline;
}

input{
	font-family: Meiryo;
}

select{
	font-family: Meiryo;
}

form{
	font-family: Meiryo;
}

.text-box{
	font-family: Meiryo;
}

td{
	padding: 5px;
}

th{
	padding: 5px;
}

.post{
	width: 800px;
	word-wrap: word-break;
}

.comment{
	width: 800px;
	word-wrap: word-break;
}

pre{
	fontsize: 100%;
	font-family: Meiryo;
	width: 800px;
	word-wrap: break-word;
	white-space: pre-wrap;
    display:inline
}

.header {
	width: 800px;
	text-align: right;
	font-family: Meiryo;
}

.errorMessages {
	margin-top: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	color: #e2041b;
}

.page-top
{
	margin: 0 ;
	padding: 0 ;

}

.page-top p
{
	margin: 0 ;
	padding: 10 ;

	position: fixed ;
	right: 20px ;
	bottom: 20px ;
}

.move-page-top
{
	display: block;
	background: #ffffff ;
	width: 200px;
	height: 50px;

	line-height: 50px ;
	text-decoration: none ;
	text-align: center ;

	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}

